@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
}

:root {
  --blue: #3d5cff;
  --gray: #858597;
  --light-gray: #dcdce7;
  --dark-gray: #1f1f39;
  --bg-color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media  (max-width: 425px) {
  html {
    max-width: 315px;
  }
}
